obj/inventoryApiDotnet.csproj.nuget.dgspec.json
obj/inventoryApiDotnet.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/inventoryApiDotnet.assets.cache
obj/Debug/net6.0/inventoryApiDotnet.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/inventoryApiDotnet.dll
obj/Debug/net6.0/inventoryApiDotnet.genruntimeconfig.cache
obj/Debug/net6.0/inventoryApiDotnet.pdb
obj/Debug/net6.0/ref/inventoryApiDotnet.dll
obj/Debug/net6.0/refint/inventoryApiDotnet.dll
obj/inventoryApiDotnet.csproj.nuget.dgspec.json
bin/Debug/net6.0/inventoryApiDotnet.dll
bin/Debug/net6.0/inventoryApiDotnet.exe
bin/Debug/net6.0/inventoryApiDotnet.pdb
bin/
obj/
